@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Blog by Jae</h1>
    <p class="lead">Welcome to my blog. This blog is about everything that is interesting to me. From coding to playing games, I will be adding everything to this blog so I hope you enjoy the content.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Creating Habits</h2>
        <p>
            So I've been reading some interesting articles about creating long lasting habits which is something I've always had trouble with because I am easily demotivated. But this is changing. I am trying new methods. I am using an application that focuses on creating habits. It keeps track of consecutive days you have stuck with a habit. It is helping.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>